.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dashboardDiv {
  border: 5cap;
  background-color: #3b734c;
  border-radius: 5ch;
  background-size: auto;
  text-align: center;
  display:block;
  justify-content: center;
}

.columncontainer {
  display: flex;
  justify-content: space-between; /* Or use `justify-content: center;` */
  gap: 20px; /* Space between the two columns */
}

.list-column {
  flex: 1; /* Optional: this will make both columns take equal space */
}

ul {
  list-style-type: none; /* Removes the default bullet points */
  padding: 0;
}

li {
  margin: 10px 0; /* Adds some space between the items */
}

ul {
  list-style-type: none;
  padding: 0; /* Ovo možeš dodati ako želiš da skineš i padding */
  margin: 0; /* Skidanje margine, ako je potrebno */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*transitions between pages*/
/* Animacije za tranziciju */
.slide-enter {
  transform: translateY(-100%);
  opacity: 0;
}

.slide-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in, opacity 300ms ease-in;
}

.slide-exit {
  transform: translateY(0);
  opacity: 1;
}

.slide-exit-active {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 300ms ease-in, opacity 300ms ease-in;
}

body {
  background-image: url('../public/backgroundPhoto.png');
  background-size: cover; /* Pokriva celu pozadinu */
  background-position: center; /* Pozicionira sliku u centar */
  background-repeat:repeat-y; /* Sprečava ponavljanje slike */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homePageDiv {
  text-align: center;
  background-size: cover;
  background-position: center;
  min-height: 95vh; /* Bez navodnika */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 15%;
}


.centralDiv {
  text-align: center;
  background-size: cover;
  background-position: center;
  min-height: 95vh; /* Bez navodnika */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centralComponentDiv {
  background-color: aliceblue;
  position: relative;
  width: 400px;
  z-index: 1;
  padding: 20px; /* Bez navodnika */
  border: 2px solid white;
  border-radius: 10px;
}

.highlight {
  color: rgb(158, 205, 178);
}

.dashboardComponentDiv {
  background-color: rgb(31, 59, 42);
  position: relative;
  width: 400px;
  color: white;
  z-index: 1;
  padding: 20px; /* Bez navodnika */
  border: 2px solid white;
  border-radius: 10px;
}

.parametersDiv {
  background-color: rgb(31, 59, 42);
  position: relative;
  width: 400px;
  color: white;
  z-index: 1;
  padding: 20px; /* Bez navodnika */
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.adminDashboardComponentDiv {
  background-color: rgb(31, 59, 42);
  background-position: center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  position:relative;
  width: 800px;
  color: white;
  z-index: 1;
  border: 2px solid white;
  border-radius: 10px;
}

.adminDashboardDiv {
  background-color: rgb(31, 59, 42);
  position:relative;
  width: 900px;
  color: white;
  z-index: 1;
  padding-left: 10%;
  border: 2px solid white;
  border-radius: 10px;
}

.headerDiv {
  height: '60px';
  width: '100%';
  text-align: 'center';
  background-color:#030000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Postavlja sadržaj na donji deo stranice */
  align-items: center;
}

.mapContainerDiv {
  display: flex;
  width: 100%;
}

.container {
  display: flex;           /* Postavlja div-ove u red */
  justify-content: space-evenly; /* Razmak između div-ova */
  align-items: center;     /* Vertikalno poravnavanje */
  width: 100%;
}

.leftColumn {
  display: flex;
  flex-direction: column; /* Postavlja elemente jedan ispod drugog */
  width: 30%; /* Širina leve kolone */
}

.rightColumn {
  width: 65%; /* Širina desne kolone */
}

.numberOfDaysForChartDiv,
.dateRangePickerDiv {
  margin-bottom: 20px; /* Razmak između elemenata u levoj koloni */
  border: #0e5521 solid 2px;
  border-radius: 10px;
  padding: 10px;
}

.predictionDiv {
  background-color: #f9f9f9; /* Pozadinska boja za preglednost */
  padding: 20px;
  border-radius: 10px;
  border: #0e5521 solid 2px;
}
.mapDiv {
  flex: 65%;
  min-height: 95vh;
  text-align: center;
  background-size: cover;
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.locationDiv {
  flex: 35%;
  min-height: 95vh;
  text-align: center;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 50px;
}

.warningParagraph {
  color: rgb(177, 14, 14);
  font-weight: bold;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Visina diva */
}

.title1 {
  text-align: center;
}

.locationComponentDiv {
  background-color: aliceblue;
  background-position: right;
  justify-content: flex;
  position:relative;
  width: 400px;
  z-index: 1;
  padding: 20px; /* Bez navodnika */
  border: 2px solid white;
  border-radius: 10px;
}

.myChartDiv {
  background-color: aliceblue;
  background-position: right;
  justify-content: flex;
  position:relative;
  
  z-index: 1;
  padding: 20px; /* Bez navodnika */
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.homepageContent {
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Postavlja sadržaj na donji deo stranice */
  align-items: flex-end; /* Postavlja sadržaj na desnu stranu */
  min-height: 100vh; 
  max-height: 400vh;/* Osigurava da element zauzima celu visinu prozora */
  padding-right: 200px;
  padding-bottom: 300px;/* Dodaje malo prostora između sadržaja i dna stranice */
  font-size: larger;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

.primaryBtn {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #098e35;
  text-transform: none; /* Tekst ostaje kakav jeste */
  margin: 0.5rem; /* Dodata margina za stilizaciju */
  border-radius:7px;
  color: antiquewhite;
  height: 40px;
  width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Senka iza dugmeta */
  transition: box-shadow 0.3s ease; /* Animacija senke */
}

.primaryBtn:hover {
  background-color: #055d22; /* Boja prilikom hovera */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Senka iza dugmeta pri hoveru */
}

.secondaryBtn {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1c2a22;
  text-transform: none; /* Tekst ostaje kakav jeste */
  margin: 0.5rem; /* Dodata margina za stilizaciju */
  border-radius:7px;
  color: antiquewhite;
  height: 40px;
  width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Senka iza dugmeta */
  transition: box-shadow 0.3s ease; /* Animacija senke */
}


.App-header {
  background-color: #030000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
